<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
          <ion-item
            [href]="page.url"
            [class.active-item]="selectedPath === page.url"
            routerDirection="forward"
          >
            <ion-label *ngIf="!page.action">
              <ion-icon [name]="page.icon"></ion-icon> {{ page.title }}
            </ion-label>
            <ion-label *ngIf="page.action === 'logout'" (click)="logout()">
              <ion-icon [name]="page.icon"></ion-icon> {{ page.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet name="menucontent" id="content" main></ion-router-outlet>
</ion-split-pane>
