<ion-header>
  <ion-toolbar>
    <ion-title>Paranoid chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="dealer.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="dealer.password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="password" [(ngModel)]="cPassword"></ion-input>
  </ion-item>

  <div text-center margin-top>
    <ion-button *ngIf="cPassword && cPassword === dealer.password" expand="block" fill="outline" color="dark" (click)="signUp()">Register</ion-button>
    <ion-button expand="block" color="light" (click)="goBack()">Go back
    </ion-button>
  </div>

</ion-content>