<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Paranoid chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="chatsResp" padding>
  <ion-list *ngFor="let chat of chats">
    <ion-item class="_chat">
      <span class="fa-stack fa-lg _avatar">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fab fa-jenkins fa-stack-1x fa-inverse"></i>
      </span>
      <ion-label (click)="interact(chat._id, chat._to)">
        <h2>{{ __sharedModule.capitalizeFirstLetter(chat._to) }}</h2>
        <p>AES256 CBC</p>
      </ion-label>
      <ion-icon
        name="ios-information-circle-outline"
        slot="end"
        (click)="test()"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
